* {
    font-size: 62.5%;
    box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/*
navbar styling
*/
.menu-icon {
    margin-top: 3rem;
    cursor: pointer;
}

.social-icons-list li {
   list-style: none;
}

.social-icons-list {
    display: flex;
    height: 23rem;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
}

.social-link {
    font-size: 3rem;
    color: #777;
    transition: color 0.2s;
    transform: scale(0.7);
}

.social-link:hover {
    color: #deaa86
}

.sidebar {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    width: 8rem;
    height: 100vh;
    background-color: #eee;
    position: fixed;
}

.line {
    height: .2rem;
    margin-bottom: 0.6rem;
    background-color: #222;
}

.line-2 {
    width: 2.5rem;
}
.line-1, .line-3 {
    width: 1.7rem;
    transition: width .3s;

}

.menu-icon:hover .line  {
    width: 2.5rem;
}

.year {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color: #555;
}
/*End of sidebar*/

/*start of navigation*/
.navigation {
    position: fixed;
    /*width: 40rem;*/
    height: 100%;
    background: linear-gradient(to top, rgba(34, 32, 41, 1), rgba(34, 32, 41, .8)),url("../img/nav-bg.jpeg") center no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    margin-left: -32rem;
    z-index: 10;
    transition: all 1s cubic-bezier(1, 0, 0, 1);
}

.navigation-search {
    position: relative;
}

.navigation-heading {
    font-family: "Josefin Sans", sans-serif;
    font-size: 3rem;
    letter-spacing: .3rem;
    font-weight: 300;
    color: #deaa86;
    text-align: center;
}

.navigation-search-input {
    width: 30rem;
    padding: 1rem 2rem;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.6rem;
    color: #deaa86;
    letter-spacing: .1rem;
    outline: none;
    border: .1rem solid #555555;
    background-color: rgba(0,0,0,.3);
    border-radius: 30rem;
    transition: background-color .3s;
}

.navigation-search-input:focus {
    background-color: rgba(0,0,0,.1);
}

.navigation-search-btn {
    outline: none;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #deaa86;
    position: absolute;
    right: 1rem;
    top: 0.6rem;
    cursor: pointer;
}

.navigation-list {
    list-style: none;
    padding: 0;
}

.navigation-list {
    height: 28rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}
.navigation-link {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .3s;
}

.navigation-item {
    position: relative;
}

.copyright {
    color: white;
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

.navigation-link::before {
    content: "";
    background-color: #deaa86;
    height: .18rem;
    position: absolute;
    left: -4rem;
    top: 1.1rem;
    transition: width .5s cubic-bezier(1, 0, 0, 1);
}

.navigation-link::after {
    content: "";
    background-color: #deaa86;
    height: .18rem;
    position: absolute;
    right: -4rem;
    top: 1.1rem;
    transition: width .5s cubic-bezier(1, 0, 0, 1);
}

.navigation-link:hover {
    color: #deaa86;
}

.navigation-link:hover::before, .navigation-link:hover::after {
    width: 3rem;
}

.checkbox:checked ~ .navigation{
    margin-left: 8rem;
    margin-right: 40rem;
}

.checkbox:checked ~ .sidebar .line-1 {
    transform: rotate(-400deg) translate(-5px, 6px);
}

.checkbox:checked ~ .sidebar .line-2 {
    opacity: 0;
}

.checkbox:checked ~ .sidebar .line-3 {
    transform: rotate(400deg) translate(-5px, -6px);
}
/*End navigation*/

/*End navbar*/

/*Start header*/

.header {
    margin-left: 8rem;
    height: 100vh;
    background: linear-gradient(to top, rgba(0,0,0,.5), rgba(0,0,0,.6)),url("../img/header-1.jpeg") center no-repeat;
    background-size: cover;
}

.brand {
    display: flex;
}

.hotel-heading {
    font-family: "Josefin Sans", sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: .2rem;
    color: #deaa86;
}

.banner {
    text-align: center;
    color: #DDDDDD;
    font-size: 4rem;
    margin-top: 20%;
    letter-spacing: .3rem;
}

.banner-heading {
    font-size: 6rem;
    font-family: "Josefin Sans", sans-serif;
}

.banner-button {
    width: 21rem;
    border: none;
    outline: none;
    border-radius: 10rem;
    padding: 1.2rem 2rem;
    letter-spacing: .1rem;
    color: #333;
    background: linear-gradient(to right, gold, goldenrod);
}




